page-about {
  
  .about-page-text {

    background: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 15px;
    margin: 10px;

  }

  .about-page-text span {

    font-size: inherit;
    line-height: 1.6;
    text-align: justify;

  }

  .about-page-text span p {
    margin-bottom: 15px;
  }

}

  