// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//
//.tab-button[aria-selected=false] {
//  .tab-button-text {
//    color: #ddd;
//  }
//}
//
//span.keyword {
// border: 1px solid #007d7d;
// padding: 2px 4px;
// border-radius: 4px;
// background: green;
// color: #fff;
// margin-right: 4px;
// font-size: 0.9em;
//}
//
//.custom-icon {
//  color : red;
//}
//
//#buttons .button-md {
//  margin: 0.4rem -1rem;
//}
//.darker {
//  border: 1px solid #999;
//}
//h4 {
//  line-height: 20px !important;
//}
//
//.warptext ion-label {
//  white-space: normal;
//}
//.col-details p {
//  font-size: 9px;
//}
//
//.col-details ion-col {
//  padding-left: 3px;
//  padding-right: 3px;
//  border-right: 1px solid #ccc;
//}


  a {
    color: inherit;
  }
.card-content {
}

ion-badge {
  margin-right: 2px;
}

[nowrap]{
	white-space: nowrap;
}