.ios, .md {
 
    page-intro {
   
      ion-slide {
        background-color: #fff;
      }
   
      ion-slide img {
        height: 70vh !important;
        width: auto !important;
      }
   
    }
   
  }

  .spiela1{
    color: #fff;
    background: #3e8d92 !important;
  }
  .spiela2{
  
    background: #d6f1f9 !important;
  }
  .spiela3{
  
    background: #f7eede !important;
  }
  .spiela4{
  
    background: #ceebd5 !important;
  }

 .swiper-pagination-bullet
  {
      color: #fff !important;
      background: #555 !important;
  }