page-signup {

}

.remember-me__forgot_pass{
    color:#fff;
    margin-left: 40px;
}

.remember-me-checkbox{
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    height: 20px;
    width: 20px;
    color: #FFF;
}


a {
    color: #1c7f80;
}

.logo_signup{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    padding-top: 10px;
}