<ion-header>
    <ion-navbar>
        <ion-title>
            Bookmarks
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
     
    <ion-card *ngIf="error">
        <p>{{error}}</p>
    </ion-card> 
    <div  class="explorerResults">
    <div *ngFor="let item of bookmarks" >
        <ion-card>
            <ion-item (click)="navigateUser(item.user.id)"> 
                <ion-avatar item-start>
                    <img [src]="choose_image(item.user_image_thumb)">
                </ion-avatar>
                <h2>{{item.user.username}}</h2>
                <p>{{item.createdAt|amTimeAgo}}</p>
            </ion-item>

            <img [hidden]="item.collaboration_image==''" [src]="item.collaboration_image">
            <ion-item no-margin padding-left class="spiel-count">
                <button ion-button small (click)="navigate(item.id)" class="buttons-smaller">
                    Read more
                </button>
                <button ion-button small (click)="navigate(item.id)" class="buttons-smaller">
                    <ion-icon name="text"></ion-icon>&nbsp; {{item.spiels}}
                    Spiel{{item.spiels!=1?'s':''}}
                </button>
                <button ion-button small (click)="navigate(item.id)" class="buttons-smaller">
                    <ion-icon name="text"></ion-icon>&nbsp; {{item.commentsCount}}
                    comment{{item.commentsCount!=1?'s':''}}
                </button>

                <!--<button class="custom-icon" (click)="deleteBookmark(item.id)" ion-button icon-end clear small>
                    <ion-icon ios="ios-close" md="md-close"></ion-icon>
                </button>-->
                <ion-col text-right style='float: right;'><button class="custom-icon" (click)="deleteBookmark(item.id)" ion-button icon-end clear small>
                    <ion-icon ios="ios-close" md="md-close"></ion-icon>
                </button></ion-col>
                 <!--
                <!--<button no-margin color="light" ion-button small start
                        (click)="hideCollaboration(item.id)">Hide post
                </button>-->
            </ion-item>


            <ion-card-content padding-bottom margin-top margin-left>
                <ion-card-title>{{item.name}}</ion-card-title>

                <ion-badge style="margin-top: 30px" margin-right margin-top
                           *ngFor="let kw of item.keywords">{{kw.trim()}}
                </ion-badge>
            </ion-card-content>
            <!-- <ion-row no-padding>
                <ion-col>
                    <ion-row>
                        <button (click)="clickCollVote(1,item.id)" ion-button item-start clear small>
                            <ion-icon name="thumbs-up"></ion-icon>&nbsp; {{item.vote_up}}
                            <div></div>
                        </button>
                        <button (click)="clickCollVote(-1,item.id)" ion-button item-start clear small>
                            <ion-icon name="thumbs-down"></ion-icon>&nbsp; {{item.vote_down}}
                            <div></div>
                        </button>
                    </ion-row>
                </ion-col>


            </ion-row> -->

        </ion-card>
    </div></div>
    <ion-infinite-scroll (ionInfinite)="loadMore($event, false)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">

        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
